
/* .red {
    color: red
}
.blue {
    color: blue;
} */

.app {
    margin: 200px ; 
    height: 100%;
    display: flex;
    justify-content: center; 
    border: 1px solid grey;
}
.main {
    display: flex;
    border: 0.5px solid rgb(165, 163, 163);
    width: 400px;
    height:200px;
    background-color: white;
    margin:20px;
}
.container {
    margin:20px 0
} 
.css-img {
    width: 200px;
    height:200px;
}
.title {
    font-size: 17px;
    font-weight: 400;
    color:black;
    margin-bottom: 14px;
}
p {
    font-size: 14px;
    font-weight: 400;  
    color: rgb(143, 138, 138);
    margin-bottom: 7px;
    
}
